body{
  background-image: linear-gradient(to right,pink,rgb(54, 54, 162));
}
.box1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(20%,-20%);

}
.box2{
  margin-left:40px;
}
#name{
  height: 40px;
  width: 180px;
 border-radius: 20px;
 background-color: rgb(202, 243, 238);
 margin: 10px;
 margin-left: 70px;
}
#dpt{
  height: 40px;
  width: 180px;
 border-radius: 20px;
 background-color: rgb(202, 243, 238);
 margin: 10px;
}
#rt{
  height: 40px;
  width: 180px;
 border-radius: 20px;
 background-color: rgb(202, 243, 238);
 margin: 10px;
 margin-left: 60px;
}
#clk{
  height: 45px;
  position: relative;
  left: 25%;
  width: 150px;
 border-radius: 20px;
 margin: 30px;
 font-weight: bold;
 font-size: 18px;
  background-color: rgb(142, 170, 222);
}
.n1{
font-weight: bold;
font-size: 24px;
}
#box{
  width: 800px;
  min-height: 200px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  position: absolute;
  top: 420px;
  left: 20%;
gap: 20px;
padding: 10px;
background-color: rgb(142, 170, 222);
}
h4{
  border: 2px solid black;
  height: 35px;
  padding-top: 10px;
  border-radius: 20px;
  background-color: pink;
}
